.bars {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 110px;
  text-align: left;
  border: 1px solid;
  border-color: lightgray;
}

#topbar {
  top: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

}

#bottombar {
  bottom: 0;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

#base {
  position: relative;
  top: 40px;
  left: 4%;
  -webkit-transform:scale(1.1);
}

.links {
  float: right;
  width: 200px;
  height: 100px;
}

.topP {

}

botomP {
  
}


/*.basecamp {
  background-image: url("http://basecamp.com/assets/images/logo.png");
  text-indent: -9000px;
  height: 55px;
  width: 194px;
  background-size: 194px 55px;
}*/
