.bars {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 110px;
  text-align: left;
  border: 1px solid;
  border-color: lightgray;
  top: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

}

#bottombar {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 110px;
  text-align: left;
  border: 1px solid;
  border-color: lightgray;
  position:relative;
  top:870px;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}


#base {
  position: relative;
  top: 40px;
  left: 4%;
  -webkit-transform:scale(1.1);
}

.links {
  position: relative;
  float: right;
  width: 220px;
  height: 100px;
}

.topP {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  font-size: 17px;
  font-family: arial;
  position: relative;
  margin-left: 20%;
  top: 30%;
}

.bottomP {
  position: relative;
  font-family: arial;
  top:10%;
  margin-left: 10%;
}

.login {
  margin-right:30%;
}


/*.basecamp {
  background-image: url("http://basecamp.com/assets/images/logo.png");
  text-indent: -9000px;
  height: 55px;
  width: 194px;
  background-size: 194px 55px;
}*/
